
/*--For mobile devices--*/
@media screen and (max-width: 600px) {

    html, body { 
        height: 100%; 
        width: 100%; 
        margin: 0; 
        padding: 0;
        overflow-x: hidden;
    }
    
                                                                /* HEADER */
    
    .header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: black;
        background-image: url("svg_smarphone/header.svg");
        background-size: 100% auto;
        background-repeat: no-repeat;
        width: 100%;
        height: 10%;
    }
    
    #logo{
        display: none;
        border-radius: 200px;
        transform: scale(0.25);
    }
    
    .header_text{
        display: none;
    }
    
                                                                /* FORM */
    
    .form{
        background-color: white;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    }
    
    .form_left{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    
    .form_right{
        width: 100%;
        height: 500px;
        /*background-image: url("svg_smarphone/from_bottom.svg");*/
        background-image: url("svg_smarphone/from_bottom.svg");
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position: center center;
    }
    
    @media (max-width: 500px) {
        .form_right{
            width: 90%;
            height: 500px;
            /*background-image: url("svg_smarphone/from_bottom.svg");*/
            background-image: url("svg_smarphone/from_bottom.svg");
            background-size: 100% auto;
            background-repeat: no-repeat;
            background-position: center center;
            margin-left: 5%;
            margin-right: 5%;
        }
    }
    
    .form_left_top{
        height: 300px;
        width: 90%;
        margin-bottom: 5%;
        margin-left: 5%;
        margin-right: 5%;
        /*background-image: url("svg_smarphone/form_top.svg");*/
        background-image: url("svg_smarphone/form_top.svg");
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: center center;
    }
    
    .form_left_bottom{
        display: flex;
        justify-content: center;
        background-color: #10355e;
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
        height: auto;
        width: 100%;
    }
    
    .form_info{
        display: flex;
        flex-direction: column;
        margin-top: 8%;
        height: 80%;
        width: 90%;
        margin-bottom: 8%;
    }
    
    .form-group{
        width: 100%;
        margin-bottom: 2%;
        display: flex;
        justify-content: center;
    }
    
    .form-group-2{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    #form_button{
        width: 100%;
        background-color: #549AC6;
        font-weight: bold;
    }
    
    #form_email{
        width: 100%;
    }
    
    #form_telephone{
        width: 100%;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    
    .label_text{
        color: white;
        font-size: 8px;
    }
    
    .form-control{
        height: 2em;
        font-family: "degular",sans-serif;
        font-style: normal;
        font-weight: 400;
    }
    
                                                                /* FEEDBACK */
    
    .feedback{
        display: flex;
        flex-direction: column;
        background-color: white;
        width: 100%;
        height: 80%;
    }
    
    .about_us{
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        background-color: white;
        width: 100%;
        height: 40%;
        /*background-image: url("svg_smarphone/about_us.svg");*/
        background-image: url("images/about_us.jpg");
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-position: center top;
    }
    
    .google{
        display: none;
        background-color: white;
        margin-bottom: 10%;
        margin-top: 3%;
        margin-left: 0%;
        width: 20%;
        height: auto;
    }
    
    #google_logo{
        width: 100%;
        height: 100%;
    }
    
    #about_us_img{
        display: none;
    }
    
    .employees{
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #DEE6DE;
        width: 100%;
        height: 65%;
        overflow: scroll;
        overflow-y: hidden;
        direction: ltr;
    }
    
    .employee_structure{
        display: flex;
        flex-direction: column;
        background-color: white;
        flex-shrink: 0;
        margin: 10px;
        width: 250px;
        height: 300px;
        margin-left: 5px;
        margin-right: 5px;
        border-radius: 5px;
    }
    
    .employee_structure_img{
        display: none;
        justify-content: center;
        margin-top: 10px;    
    }
    
    .employee_img{
        background-color: #bebebe;
        background-size: 70px 70px;
        border-radius: 50%;
        width: 70px;
        height: 70px;
    }
    
    .employee_structure_name{
        margin-left: 10px;
        margin-top: 10px;
    }
    
    .review{
        margin-left: 10px;
        margin-top: 10px;
        margin-right: 10px;
        overflow-y: auto;
    }
    
    
                                                                /* INFORMATION */
    
    .information{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: white;
        width: 100%;
        height: 15%;
    }
    
    #information_logo{
        border-radius: 50%;
        width: auto;
        height: 100%;
    }
    
    #adresses{
        margin-left: 30px;
        margin-right: 30px;
    }
    
    .social_link{
        display: none;
        width: 30px;
        height: 30px;
        margin-left: 30px;
        margin-right: 30px;
    }
    
    #ig_logo, #fb_logo, #tiktok_logo{
        width: auto;
        height: auto;
    }
                                                                
    
    
                                                                /* COMMON SVG STYLE */
    
    .stars_about_us{
        display: none;
        flex-direction: row;
        align-items: center;
        margin-left: -0%;
    }
    
    .stars{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 10px;
        margin-left: 10px;
    }
    
    .star_green{
        background-image: url("svg/star_green.svg");
        margin: 1px;
        width: 20px;
        height: 20px;
    }
    
    .star_grey{
        background-image: url("svg/star_grey.svg");
        margin: 1px;
        width: 20px;
        height: 20px;
    }
    
    .star_yellow_google{
        background-image: url("svg/star_yellow_google.svg");
        margin: 1px;
        width: 20px;
        height: 20px;
    }
    
    .star_grey_google{
        background-image: url("svg/star_grey_google.svg");
        margin: 1px;
        width: 20px;
        height: 20px;
    }
                                                                    
}


/*-----For tablets: ---------------*/
@media screen and (min-width: 601px) and (max-width: 900px) {


    html, body { 
        height: 100%; 
        width: 100%; 
        margin: 0; 
        padding: 0;
        overflow-x: hidden;
    }
    
                                                                /* HEADER */
    
    .header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        height: 13%;
        background-image: url("svg_tablet/header.svg");
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position: center;
        
    }
    
    #logo{
        display: none;
        border-radius: 200px;
        transform: scale(0.25);
    }
    
    .header_text{
        display: none;
    }
    
                                                                /* FORM */
    
    .form{
        background-color: white;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 160%;
    }
    
    .form_left{
        width: 100%;
        height: 85%;
        display: flex;
        flex-direction: column;
    }
    
    .form_right{
        width: 100%;
        height: 60%;
        margin-top: 2%;
        background-image: url("svg_smarphone/from_bottom.svg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    
    .form_left_top{
        height: 40%;
        background-image: url("svg_smarphone/form_top.svg");
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-position: center;
        margin-left: 3%;
        margin-right: 3%;
        margin-bottom: 1%;
    }
    
    .form_left_bottom{
        display: flex;
        justify-content: center;
        background-color: #10355e;
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
        height: 60%;
        width: 100%;
    }

    @media screen and (max-height: 1000px) {
        .form{
            background-color: white;
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 180%;
        }

        .form_left_bottom{
            display: flex;
            justify-content: center;
            background-color: #10355e;
            border-top-right-radius: 30px;
            border-top-left-radius: 30px;
            height: 80%;
            width: 100%;
        }
    }
    
    .form_info{
        display: flex;
        flex-direction: column;
        margin-top: 5%;
        height: 80%;
        width: 90%;
    }
    
    .form-group{
        width: 100%;
        margin-bottom: 2%;
        display: flex;
        justify-content: center;
    }
    
    .form-group-2{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    #form_button{
        width: 100%;
        background-color: #549AC6;
        font-weight: bold;
    }
    
    #form_email{
        width: 100%;
    }
    
    #form_telephone{
        width: 100%;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    
    .label_text{
        color: white;
    }
    
                                                                /* FEEDBACK */
    
    .feedback{
        display: flex;
        flex-direction: column;
        background-color: white;
        width: 100%;
        height: 80%;
    }
    
    .about_us{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        background-color: white;
        width: 100%;
        height: 40%;
        background-image: url("svg_smarphone/about_us.svg");
        background-repeat: no-repeat;
        background-position-x: center;
        background-size: 90% 50%;
        margin-top: 0%;
    }
    
    .google{
        background-color: white;
        margin-bottom: 2%;
        margin-top: 3%;
        margin-left: -10%;
        width: 20%;
        height: 15%;
    }
    
    #google_logo{
        width: 100%;
        height: 100%;
    }
    
    #about_us_img{
        display: none;
    }
    
    .employees{
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #DEE6DE;
        width: 100%;
        height: 60%;
        overflow: scroll;
        overflow-y: hidden;
        direction: ltr;
    }
    
    .employee_structure{
        display: flex;
        flex-direction: column;
        background-color: white;
        flex-shrink: 0;
        margin: 10px;
        width: 250px;
        height: 300px;
        margin-left: 5px;
        margin-right: 5px;
        border-radius: 5px;
    }
    
    .employee_structure_img{
        display: none;
        justify-content: center;
        margin-top: 10px;    
    }
    
    .employee_img{
        background-color: #bebebe;
        background-size: 70px 70px;
        border-radius: 50%;
        width: 70px;
        height: 70px;
    }
    
    .employee_structure_name{
        margin-left: 10px;
        margin-top: 10px;
    }
    
    .review{
        margin-left: 10px;
        margin-top: 10px;
        margin-right: 10px;
        overflow-y: auto;
    }
    
    
                                                                /* INFORMATION */
    
    .information{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: white;
        width: 100%;
        height: 15%;
    }
    
    #information_logo{
        border-radius: 50%;
        width: 163px;
        height: 100%;
    }
    
    #adresses{
        margin-left: 30px;
        margin-right: 30px;
    }
    
    .social_link{
        display: none;
        width: 30px;
        height: 30px;
        margin-left: 30px;
        margin-right: 30px;
    }
    
    #ig_logo, #fb_logo, #tiktok_logo{
        width: 100%;
        height: 70%;
    }
                                                                
    
    
                                                                /* COMMON SVG STYLE */
    
    .stars_about_us{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: -10%;
        transform: scale(1.6);
    }
    
    .stars{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 10px;
        margin-left: 10px;
    }
    
    .star_green{
        background-image: url("svg/star_green.svg");
        margin: 1px;
        width: 20px;
        height: 20px;
    }
    
    .star_grey{
        background-image: url("svg/star_grey.svg");
        margin: 1px;
        width: 20px;
        height: 20px;
    }
    
    .star_yellow_google{
        background-image: url("svg/star_yellow_google.svg");
        margin: 1px;
        width: 20px;
        height: 20px;
    }
    
    .star_grey_google{
        background-image: url("svg/star_grey_google.svg");
        margin: 1px;
        width: 20px;
        height: 20px;
    }
                                                                
    
}


/*-----For desktop devices ------*/
@media screen and (min-width: 900px) {
    html, body { 
        height: 100%; 
        width: 100%; 
        margin: 0;
        overflow-x: hidden;
    }
    
                                                                /* HEADER */
    
    .header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: white;
        background-image: url("svg/header_background.svg");
        background-repeat: no-repeat;
        width: 100%;
        height: 80px;
    }
    
    #logo{
        border-radius: 200px;
        transform: scale(0.25);
    }
    
                                                                /* FORM */
    
    .form{
        background-image: url("images/form_background.jpg");
        background-size: 100% auto;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 85%;
    }
    
    .form_left{
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .form_right{
        background-image: url("svg_smarphone/from_bottom.svg");
        background-size: 90% auto;
        background-repeat: no-repeat;
        background-position: center;
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    @media screen and (min-width: 1500px) {
        .form_right{
            background-image: url("svg_smarphone/from_bottom.svg");
            background-size: auto 90%;
            background-repeat: no-repeat;
            background-position: center;
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
    
    .form_left_top{
        background-image: url("svg_smarphone/form_top.svg");
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position: center;
        height: 40%;
        margin-bottom: 1%;
        margin-left: 5%;
        margin-right: 5%;
    }

    @media screen and (min-width: 900px) and (max-width: 1250px){
        .form_left_top{
            background-image: url("svg_smarphone/form_top.svg");
            background-size: 100% auto;
            background-repeat: no-repeat;
            background-position: center;
            height: 40%;
            margin-bottom: 1%;
            margin-left: 5%;
            margin-right: 5%;
        }
    }
    
    .form_left_bottom{
        display: flex;
        justify-content: center;
        background-color: #10355e;
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
        height: 60%;
        width: 95%;
    }
    
    .form_info{
        display: flex;
        flex-direction: column;
        margin-top: 3%;
        height: 80%;
        width: 90%;
    }
    
    .form-group{
        margin-top: 1%;
        margin-bottom: 1%;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .form-group-2{
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-top: 1%;
        margin-bottom: 1%;
    }
    
    #form_button{
        width: 45%;
        background-color: #549AC6;
    }
    
    #form_email{
        width: 59%;
    }
    
    #form_telephone{
        width: 40%;
        margin-left: 1%;
    }
    
    .label_text{
        color: white;
        font-size: 10px;
    }
    
                                                                /* FEEDBACK */
    
    .feedback{
        display: flex;
        flex-direction: column;
        background-color: #efefef;
        width: 100%;
        height: 500px;
    }
    
    .about_us{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #efefef;
        width: 100%;
        height: 200px;
    }
    
    .google{
        margin-top: 5px;
        width: 80px;
        height: 30px;
    }
    
    #google_logo{
        width: 100%;
        height: 100%;
    }
    
    #about_us_img{
        width: 620px;
        height: 120px;
    }
    
    .employees{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
        background-color: #e2e2e4;
        width: 100%;
        height: 300px;
    }
    
    .employee_structure{
        display: flex;
        flex-direction: column;
        background-color: white;
        margin: 10px;
        width: 250px;
        height: 275px;
        margin-left: 5px;
        margin-right: 5px;
        border-radius: 5px;
    }
    
    .employee_structure_img{
        display: none;
        justify-content: center;
        margin-top: 10px;    
    }
    
    .employee_img{
        background-color: #bebebe;
        background-size: 70px 70px;
        border-radius: 50%;
        width: 70px;
        height: 70px;
    }
    
    .employee_structure_name{
        margin-left: 10px;
        margin-top: 10px;
    }
    
    .review{
        margin-left: 10px;
        margin-top: 10px;
        margin-right: 10px;
        overflow-y: auto;
    }
                                                                /* INFORMATION */
    
    .information{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: white;
        width: 100%;
        height: 100px;
    }
    
    #information_logo{
        border-radius: 50%;
        width: 130px;
        height: 100%;
    }
    
    #adresses{
        margin-left: 30px;
        margin-right: 30px;
    }
    
    .social_link{
        display: none;
        width: 30px;
        height: 30px;
        margin-left: 30px;
        margin-right: 30px;
    }
    
    #ig_logo, #fb_logo, #tiktok_logo{
        width: 100%;
        height: 70%;
    }
    
    
                                                                /* COMMON SVG STYLE */
    
    .stars_about_us{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .stars{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 10px;
        margin-left: 10px;
    }
    
    .star_green{
        background-image: url("svg/star_green.svg");
        margin: 1px;
        width: 20px;
        height: 20px;
    }
    
    .star_grey{
        background-image: url("svg/star_grey.svg");
        margin: 1px;
        width: 20px;
        height: 20px;
    }
    
    .star_yellow_google{
        background-image: url("svg/star_yellow_google.svg");
        margin: 1px;
        width: 20px;
        height: 20px;
    }
    
    .star_grey_google{
        background-image: url("svg/star_grey_google.svg");
        margin: 1px;
        width: 20px;
        height: 20px;
    }
}